<body>
  

  <!-- <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class = "navbar-nav">
        <li class = "nav-item">
            <a routerLink="crickets" routerLinkActive="active" class="nav-link" >Cricket List</a>
        </li>
        <li class = "nav-item">
            <a routerLink="create-cricket" routerLinkActive="active" class="nav-link" >Add stats</a>
        </li>
      
    </ul>
  </nav> -->
 
    
  
  <marquee> {{title}} </marquee>
  <div class = "container">
    <router-outlet></router-outlet>
  </div>
  <!-- <footer class = "footer">
    <div class = "container">
        <span>All Rights Reserved 2023</span>
    </div>
  </footer> -->
</body> 