<body>
    <nav>
        <ul>
            <li><a href="https://www.cricbuzz.com/" target="_blank">Live score</a></li>
        </ul>
        <button class="btn btn-primary" (click)="loginoutAdmin()" >Logout</button>
    </nav>
    
    <div class="container">
        <button class="btn btn-primary" (click)="createCricket()" >Register</button>
        <button class="btn btn-primary" (click)="goToCricketList()" >Show Stats</button>
        <button class="btn btn-primary" (click)="cricketsquad()" >Squad</button>
        <button class="btn btn-primary" (click)="upcoming()" >Upcoming Matches</button>
        <button class="btn btn-primary" (click)="info()" >About Cricket</button>
        
        <button class="btn btn-primary" onclick="window.open('https://www.espncricinfo.com/cricket-news', '_blank')"> Cricket Update</button>
       
        </div>
        
          
</body>