<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indian Squad</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
            color: white;
            font-weight: bold;
        }

        th {
            background-color: #f2f2f2;
            color: black;
        }
    </style>
</head>
<body>

<h1>Indian Cricket Squad</h1>

<table>
    <thead>
        <tr>
            <th>Name
                <img src="https://e0.pxfuel.com/wallpapers/542/1014/desktop-wallpaper-india-national-cricket-team-logo-page-1-indian-cricket-team-logo.jpg" alt="Icon" width="25" height="25">
            </th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
       <tr>
            <td>Virat Kohli</td>
           <td> Batsman</td>
        </tr>
        <tr>
            <td>Rohit Sharma (C)</td>
            <td>Batsman</td>
        </tr>
    
        <tr>
            <td>Shreyas Iyer</td>
           <td> Batsman</td>
        </tr>

        <tr>
            <td>Shubman Gill</td>
           <td> Batsman</td>
        </tr>

        <tr>
            <td>Suryakumar Yadav</td>
           <td> Batsman</td>
        </tr>

        

        <tr>
            <td>KL rahul</td>
           <td> Wikcet Keeper</td>
        </tr>
        
        <tr>
            <td>Ravindra Jadeja</td>
           <td> Bowler</td>
        </tr>

        <tr>
            <td>Mohammed Shami</td>
           <td> Bowler</td>
        </tr>

        <tr>
            <td>Jasprit Bumrah</td>
           <td> Bowler</td>
        </tr>

        <tr>
            <td>Kuldeep Yadav</td>
           <td> Bowler</td>
        </tr>

        <tr>
            <td>Mohammed Siraj</td>
           <td> Bowler</td>
        </tr>
    </tbody>
</table>

<br>
    <a [routerLink]="['/home']" class="btn btn-primary">Back to Home</a>
</body>
</html>

